{% extends "store/base.html" %}

{% block content %}
  <h1>Your cart</h1>

  <ul>
    {% for item in cart_items %}
      <li>
        {{ item.product.name }} -

        <form method="post" action="{% url 'cart_update' item.product.id %}" style="display:inline;">
          {% csrf_token %}
          <input type="number" name="quantity" min="0" value="{{ item.quantity }}">
          <button type="submit">Update</button>
        </form>

        Total: {{ item.total_price }}

        <a href="{% url 'cart_remove' item.product.id %}">remove</a>
      </li>
    {% empty %}
      <li>Cart is empty</li>
    {% endfor %}
  </ul>

 <p>Cart total: {{ total }}</p>

<p>
  <a href="{% url 'cart_clear' %}">Clear cart</a> |
  <a href="{% url 'product_list' %}">Back to products</a> |
  <a href="{% url 'checkout' %}">Checkout</a>
</p>

{% endblock %}
