{% extends "store/base.html" %}

{% block title %}Django Shop{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-main">
        <p class="hero-label">ECH • gaming Shop</p>
        <h1 class="hero-title">
            Level up your <span>Skill</span>
        </h1>
        <p class="hero-subtitle">
            Play, be creative, create, and live a happy life.
        </p>

        <div class="hero-actions">
            <a href="{% url 'product_list' %}" class="btn-primary">Browse products</a>
            <a href="{% url 'cart_detail' %}" class="btn-ghost">View cart</a>
        </div>
    </div>

    <div class="hero-art">
        <div class="hero-art-overlay"></div>
        <div class="hero-art-content">
            <p></p>
        </div>
    </div>
</section>

<section class="home-panels">
    <div class="home-panel">
        <h2>Entering the dream world of gaming</h2>
        <p class="home-text">
            Ready-made gaming items. Add them to your cart with one click.
        </p>
        <a href="{% url 'product_list' %}" class="btn-small">Open catalog</a>
    </div>

    <div class="home-panel secondary">
        <h2>Shop safely</h2>
        <p style="font-size: large; color: rgb(224, 134, 0); " class="home-text">
            This project is my first practice project for learning Django. CSRF protection, escaped templates, and clean shopping cart logic.
        </p>
    </div>
</section>
{% endblock %}
